/* Escribe tu css aqui */
.uno{
	border: 2px solid yellow;
	background-color: yellow;
	}
.dos{
	border: 2px solid red;
	background-color: red;
}
.tres{
	border: 2px solid yellow;
	background-color: yellow;
}